.vscode/

# executable
*.exe
*.out

# video
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.mpeg
*.m4v
*.flv
*.rmvb
*.ts

*.badapple

# image
*.png
*.jpg
*.jpeg
*.webp
*.bmp

archive/
*/temp/
tempCodeRunnerFile.cpp
*test*

!dependencies/**
