.vscode/

# executable
*.exe
*.out

*.a
*.so
*.lib
*.dll

# video
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.mpeg
*.m4v
*.flv
*.rmvb
*.ts

*.badapple

# image
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.gif

# archive
*.tar
*.gz
*.tgz
*.rar
*.zip
*.7z

archive/
*/temp/
tempCodeRunnerFile.cpp

!win_dep_bin/**
!play.gif
